<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <a href="https://www.figma.com/file/R2KTHk5BGMf7QEO3Uity0w/Untitled?type=design&node-id=0%3A1&mode=design&t=wycMRLw0beYL6Uww-1">
          <ion-icon name="logo-figma"></ion-icon>
        </a>
      </ion-col>

      <ion-col id="ion-col-row-grid-text">Search</ion-col><ion-col>
  
        <a href="https://news.google.com/home?hl=es-419&gl=US&ceid=US:es-419">
          <ion-button fill="clear">
            <ion-icon name="newspaper-sharp"></ion-icon>
            <ion-badge color="danger">2</ion-badge>
          </ion-button>
        </a>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="search">
    <ion-searchbar color="light" show-clear-button="always" clear-icon="trash-bin" value=""></ion-searchbar>
  </div>

  <a href="https://parisianmoments.com/black-and-white" id="a-img">
      <img alt="Paris 2023" src="https://static1.squarespace.com/static/59592d5ae4fcb5168c5b510b/5959800bbe6594dbcf06be73/59dbb7aacd0f68a14028b5f0/1542914702930/dcp20110611-11972-Edit.jpg?format=1500w" />
  </a>
  
  <div id="content-all">

    <div class="box">
      <ion-icon name="eye"></ion-icon>
      <ion-label>1K</ion-label>
    </div>

    <div class="box">
      <ion-icon id="heart" name="heart"></ion-icon>
      <ion-label>456</ion-label>
    </div>

    <div class="box">
      <ion-icon name="calendar-clear"></ion-icon>
      <ion-label>06 october</ion-label>
    </div>

  </div>

  <div id="texto">

    <div id="titulo">
      <p>Powerbridge Technologies Bitcoin and Ethereum </p>
    </div>

    <div id="parrafo">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima hic saepe iste totam fuga illo odit maxime possimus alias autem eius, rerum perferendis quos dolores obcaecati nemo cumque tenetur tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima hic saepe iste totam fuga illo odit maxime possimus alias autem eius, rerum perferendis quos dolores obcaecati nemo cumque tenetur tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima hic saepe iste totam fuga illo odit maxime possimus alias autem eius, rerum perferendis quos dolores obcaecati nemo cumque tenetur tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit.. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>

  </div>
</ion-content>
