<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col><ion-icon name="person-circle"></ion-icon></ion-col>
      <ion-col id="ion-col-row-grid-text">Home</ion-col><ion-col>
  
        <a href="https://bitcoin.org/es/">
          <ion-button fill="clear">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge color="danger">1</ion-badge>
          </ion-button>
        </a>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="outer">
    <div class="inner">
     <a href="https://bitcoin.org/es/">
      <ion-card id="card1-coin">
         <ion-card-header>
            <ion-card-title>BTC +6%</ion-card-title>
           <ion-card-subtitle>$6.026</ion-card-subtitle>
          </ion-card-header>
    
        <ion-card-content>
            <ion-icon name="logo-bitcoin"></ion-icon>
            <ion-label>Bitcoin</ion-label>
        </ion-card-content>
       </ion-card>
      </a>

      <a href="https://dogecoin.com/">
        <ion-card id="card2-coin">
          <ion-card-header>
            <ion-card-title>DOGE +118%</ion-card-title>
            <ion-card-subtitle>$16.800</ion-card-subtitle>
         </ion-card-header>
      
          <ion-card-content>
            <ion-icon name="logo-edge"></ion-icon>
            <ion-label>Dogecoin</ion-label>
          </ion-card-content>
       </ion-card>
     </a>
    
      <a href="https://ethereum.org/es/">
        <ion-card id="card3-coin">
          <ion-card-header>
            <ion-card-title>ETH +6%</ion-card-title>
            <ion-card-subtitle>$6.0286</ion-card-subtitle>
         </ion-card-header>
      
         <ion-card-content>
            <ion-icon name="logo-euro"></ion-icon>
            <ion-label>Ethereum</ion-label>
          </ion-card-content>
        </ion-card>
      </a>
    
      <a href="https://www.playstation.com/es-ec/">
       <ion-card id="card4-coin">
         <ion-card-header>
           <ion-card-title>PS +15%</ion-card-title>
            <ion-card-subtitle>$9.856</ion-card-subtitle>
         </ion-card-header>
      
         <ion-card-content>
           <ion-icon name="logo-playstation"></ion-icon>
            <ion-label>PlaStation</ion-label>
         </ion-card-content>
       </ion-card>
      </a>
    
       <a href="https://www.xbox.com/es-ES">
         <ion-card id="card5-coin">
           <ion-card-header>
           <ion-card-title>X +12%</ion-card-title>
           <ion-card-subtitle>$5.365</ion-card-subtitle>
         </ion-card-header>
    
         <ion-card-content>
           <ion-icon name="logo-xbox"></ion-icon>
          <ion-label>Xbox</ion-label>
         </ion-card-content>
       </ion-card>
     </a>

      <a href="https://store.steampowered.com/?l=spanish">
       <ion-card id="card6-coin">
          <ion-card-header>
           <ion-card-title>STM +3%</ion-card-title>
            <ion-card-subtitle>$2.033</ion-card-subtitle>
         </ion-card-header>
      
          <ion-card-content>
            <ion-icon name="logo-steam"></ion-icon>
            <ion-label>Steam</ion-label>
         </ion-card-content>
        </ion-card>
     </a>
    
    </div>
  </div>

  <div class="outer1">
    <div class="inner1">
  
      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

      <div class="inner1-icon">
        <ion-icon name="logo-flickr"></ion-icon>
      </div>

    </div>
  </div>

  <div class="outer2">
    <div class="inner2">
      <a href="https://parisianmoments.com/black-and-white">
        <ion-card id="page">
          <img alt="Paris 2023" src="https://static1.squarespace.com/static/59592d5ae4fcb5168c5b510b/5959800bbe6594dbcf06be73/59dbb7aacd0f68a14028b5f0/1542914702930/dcp20110611-11972-Edit.jpg?format=1500w" />
          <ion-card-header>
            <ion-card-title>Powerbridge Technologies</ion-card-title>
            <ion-card-subtitle>Paris 2023</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptates repudiandae.
          </ion-card-content>
        </ion-card>
      </a>

      <a href="https://parisianmoments.com/black-and-white">
        <ion-card id="page">
          <img alt="Paris 2023" src="https://static1.squarespace.com/static/59592d5ae4fcb5168c5b510b/5959800bbe6594dbcf06be73/59dbb7aacd0f68a14028b5f0/1542914702930/dcp20110611-11972-Edit.jpg?format=1500w" />
          <ion-card-header>
            <ion-card-title>Powerbridge Technologies</ion-card-title>
            <ion-card-subtitle>Paris 2023</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptates repudiandae.
          </ion-card-content>
        </ion-card>
      </a>

      <a href="https://parisianmoments.com/black-and-white">
        <ion-card id="page">
          <img alt="Paris 2023" src="https://static1.squarespace.com/static/59592d5ae4fcb5168c5b510b/5959800bbe6594dbcf06be73/59dbb7aacd0f68a14028b5f0/1542914702930/dcp20110611-11972-Edit.jpg?format=1500w" />
          <ion-card-header>
            <ion-card-title>Powerbridge Technologies</ion-card-title>
            <ion-card-subtitle>Paris 2023</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptates repudiandae.
          </ion-card-content>
        </ion-card>
      </a>
    </div>
  </div>
  
  <div id="footer">

    <div id="uno">
      <ion-label class="name">Get</ion-label>
      <ion-label>39.393</ion-label>
    </div>

    <div id="dos">
      <ion-label>^ USD</ion-label>
    </div>

    <div id="tres">
      <a href="https://www.coinbase.com/es/converter/btc/usd">
        <ion-button fill="clear"> <ion-icon name="code-outline"></ion-icon></ion-button>
      </a>
    </div>

  </div>

</ion-content>